docker.enabled = true

executor {
     perJobMemLimit=true
}

manifest {
    mainScript = 'pipelines/rna_seq.nf'
}

params {
  // list and dir location of input fastqs:
  // $baseDir is to set paths relative to the location of this main script rna_seq.nf
  lifebit_inputs_files = "$baseDir/../inputs/lifebit_input_files.tsv"
  input_fastqs_dir = "$baseDir/../../samples"

  // pipeline options:
  min_reads = 500   // used by crams_to_fastq_gz
  genome = 'GRCh38' // used by star aligner
  fcextra = ""      // used by featurecounts
  min_pct_aln  = 5 // used to filter STAR alignements, checking if align rate below threshold
  singleend = false       // used by featurecounts
  forward_stranded = false  // used by featurecounts
  reverse_stranded = true  // used by featurecounts
  unstranded = false  // used by featurecounts
  biotypes_header= "$baseDir/../assets/biotypes_header.txt" // used by featurecounts
  mito_name = 'MT' // used by mapsummary
  runtag = 'lifebit-demo' // HG_UKBB_scRNA_Pilot I&II 
  ensembl_lib = "Ensembl 91 EnsDb" // used by tximport, must match used genome version
  run_star = true

  outdir =    "${baseDir}/../../results"
  reportdir = "${baseDir}/../../reports"

  genomes_base = "${baseDir}/../../genomes"
  salmon_index = "${params.genomes_base}/salmon14_index/salmon"
  salmon_trans_gene = "${params.genomes_base}/salmon14_index/trans_gene.txt"
  clusterOptions = false
}

includeConfig 'conf/base.config'
includeConfig 'conf/genomes.config'

profiles {
  farm4_singularity_gn5 {
    includeConfig './conf/base.config'
    includeConfig './conf/genomes.config'
    includeConfig './conf/singularity_gn5.config'
  }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  file = "${params.reportdir}/timeline.html"
}
trace {
  enabled = true
  file = "${params.reportdir}/trace.txt"
}